<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="APP_LOG_LEVEL">${sys:log.level:-info}</Property>
        <Property name="PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="net.grongubbe" level="${APP_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>